.brand-carousel-area {
	background: #eee;
	.thm-container {padding-top: 20px;padding-bottom: 20px;}
	.brand-carousel {
		text-align: center;
		img {width: auto;max-width: none;display: block;margin-left: auto;margin-right: auto;}
	}
}