.fun-fact-area {
	.thm-container {border-top: 1px solid #e5e5e5;padding-top: 100px;padding-bottom: 90px;}
	.title {margin: 0;color: #242424;font-family: 'Poppins';font-weight: bold;font-size: 38px;line-height: 46px;margin-top: 30px;}
	.single-fun-fact {
		.line {display: block;width: 40px;height: 1px;background:#5773d9;margin-bottom: 35px;}
		span.number {color: #3E56AA;font-family: 'Poppins';font-weight: 600;font-size: 50px;line-height: 46px;letter-spacing: 0;}
		p {margin: 0;color: #3E56AA;font-weight: 600;font-family: 'Poppins';font-size: 16px;line-height: 30px;letter-spacing: 0;text-transform: capitalize;}
	}
	&.dark-v {
		background:#262626;
		.thm-container {border-top: 0;}
		.title {color: #fff;}
		.single-fun-fact .line {background:#ffffff;}		
	}
	&.text-white {
		.single-fun-fact {
			span.number {color: #fff;}
			p {color: #fff;}
		}	
	}
}