/**************************
* 2. miscelnious styles
***************************/
@media (min-width: 1200px) {
    .container {
        padding: 0;
    }
}

body {
    font-family: 'Raleway';
    color: white;
    font-size: 17px;
    line-height: 36px;
    letter-spacing: .03em;
    position: relative;
}

a {
    text-decoration: none !important;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

fieldset {
    margin-bottom: 1em;
}

fieldset {
    border: 1px solid #bbb;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

.checkbox, .radio {
    display: inline-block;
}

button, input[type=submit] {
    color: #fff;
    background: #5E68FF;
    font-size: 16px;
    line-height: 1em;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 14.5px 30px;
}

button [type=reset], input[type=reset] {
    color: #fff;
    background: #242424;
    font-size: 16px;
    line-height: 1em;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 14.5px 30px;
}

label {
    color: #242424;
}

table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}

thead th {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
}

th {
    padding: 0.4em;
    text-align: left;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 0.4em;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.thm-container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.sec-pad {
    padding: 100px 0;
}

.p0 {
    padding: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.dark-bg {
    background: #f5f5f5;
}

/**************************
* 3. header styles
***************************/
#page-wrapper {
    width: 100%;
}

.about-banner {
    margin-top: 85px !important;
    background: url(../img/titan-bg-clean.jpg) center center no-repeat;
}

.flags {
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../img/us-kenya.png) no-repeat center center;
}

.about {
    display: table;
}

.col-about {
    float: none;
    display: table-cell;
    vertical-align: top;
}

/**************************
* 6. about styles
***************************/
.about-section.about-page {
    padding-bottom: 100px;
    padding-top: 100px !important;
}

.about-section.about-page .sec-title h2 span {
    color: #3E56AA;
}

.about-section.about-page p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    letter-spacing: 0;
}

.about-section.about-page p + p {
    margin-top: 25px;
}

.about-section.about-page p.highlight {
    color: #222222;
    font-family: 'Lora';
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.about-section.about-page .content-box {
    margin-bottom: 50px;
}

.about-home-two {
    background: #F4F4F4;
}

.about-home-two .about-content h2, .about-home-two .about-content h3, .about-home-two .about-content p {
    margin: 0;
}


.sea-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(../img/sea-banner-bg.jpg) center center no-repeat;
}

.air-banner {
    background:url(../img/air-banner.png) center center no-repeat;
}

.cost-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(../img/cost-calculator-bg.jpg) center center no-repeat;
}

.buy-ship-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(../img/buy-ship-banner-bg.png) center center no-repeat;
}

.contact-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url(../img/contact-banner-bg.jpg) center center no-repeat;
}

.inner-banner {
    height: 85vh !important;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 70px;

}

.inner-banner .title h3 {
    margin: 0;
    color: #fff;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: bold;
    line-height: 1em;
}

.inner-banner .title .line {
    display: block;
    width: 35px;
    height: 2px;
    background: #5773d9;
    margin-top: 15px;
}


/**************************
* 22. footer styles
***************************/
.footer {
    padding-top: 85px;
    padding-bottom: 65px;
}

.footer .footer-widget ul,
.footer .footer-widget li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget .title h3 {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

.footer .footer-widget.about-widget a.footer-logo {
    margin-top: 13px;
    margin-bottom: 41px;
    display: inline-block;
}

.footer .footer-widget.about-widget p.phone-number {
    font-size: 18px;
    color: #8B8B8B;
    font-family: 'Poppins';
    margin: 0;
}

.footer .footer-widget.about-widget p.address {
    margin: 0;
    font-family: 'Poppins';
    color: #8B8B8B;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    margin-top: 7px;
}

.footer .footer-widget.links-widget {
    padding-left: 37px;
}

.footer .footer-widget.links-widget .title {
    margin-bottom: 19px;
}

.footer .footer-widget.links-widget ul li a {
    color: #8B8B8B;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 18px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.footer .footer-widget.links-widget ul li a:hover {
    color: #5E68FF;
}

.footer .footer-widget.service-widget {
    padding-left: 60px;
}

.footer .footer-widget.service-widget .title {
    margin-bottom: 20px;
}

.footer .footer-widget.subscribe-widget .title {
    margin-bottom: 27px;
}

.footer .footer-widget.subscribe-widget > p {
    color: #8B8B8B;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.footer .footer-widget.subscribe-widget form {
    width: 100%;
    position: relative;
    height: 46px;
    margin-top: 15px;
}

.footer .footer-widget.subscribe-widget form input {
    border: 1px solid #383938;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    background: transparent;
    padding-left: 20px;
}

.footer .footer-widget.subscribe-widget form button {
    padding: 0;
    background: #3E56AA;
    width: 54px;
    height: 47px;
    font-size: 22px;
    color: #fff;
    line-height: 47px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
}

.footer .footer-widget.subscribe-widget .social {
    margin-top: 30px;
}

.footer .footer-widget.subscribe-widget .social a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #858585;
    color: #858585;
    font-size: 17px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.footer .footer-widget.subscribe-widget .social a + a {
    margin-left: 10px;
}

.footer .footer-widget.subscribe-widget .social a:hover {
    color: #5E68FF;
    border-color: #5E68FF;
}

.footer-bottom {
    background: #282828;
    border-top: 1px solid #353535;
    padding: 19.5px 0px;
}

.footer-bottom p {
    color: #8B8B8B;
    opacity: .56;
    font-family: 'Poppins';
    font-size: 14px;
    margin: 0;
}
