{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="about-banner inner-banner">
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <!-- /.tag-line -->
                        <h2>Our Company</h2>
                    </div><!-- /.sec-title -->
                    <p class="thick">Titan Shippers is company Registered in Washington states. We operate out of
                        Tacoma and serve larger Pacific Northwest region including Washington state, Oregon, Idaho, Las
                        Vegas, and Northern California.
                    </p>
                    <p class=""> We pride ourselves in providing professional, shipping services, including
                        weekly Air freight and monthly sea shipping from the United States to Kenya.
                        Our services are tailored to satisfy your personal preference with diligent handling of all
                        shipments. At Titan all items are treated as fragile to ensure absolute protection. </p>
                    <p class="">We rank top among the companies that provide shipping services from the USA to
                        Kenya.</p>
                </div><!-- /.col-md-12 -->

            </div><!-- /.row -->
        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box" style="margin-bottom:7px!important;">
                    <div class="sec-title">
                        <h2 class="h3 my-5">Why choose us?</h2>
                        <p>In our pursuit of service excellence, we have identified key criteria to ensure that service
                            expectations are not only fulfilled, but also exceeded. We take a proactive approach to
                            operating as a good corporate citizen by incorporating business best practices into our
                            model that favor social and environmental responsibility.</p>
                        <h2 class="mt-5 h3">Our Values</h2>
                    </div><!-- /.sec-title -->
                    <p> In pursuit of Service excellence, we have identified key criteria to ensure that service
                        expectations are not only fulfilled, but also exceeded. We take a proactive approach to
                        operating as a good corporate citizen by incorporating business best practices into our model
                        that favor social and environmental responsibility.</p>
                </div><!-- /.col-md-12 -->
                <div class="feature-box">
                    <div class="row feature-box-wrapper about  g-3">
                        <div class="col-md-6 col-about">
                            <div class="p-3 shadow-5-strong rounded-3 h-100">
                                <div class="single-feature">
                                    <div class="py-2">
                                       <i class="far fa-star-of-life fa-2x"></i>
                                    </div>
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Honesty</h4>
                                    <p>Honesty isn't just a policy, it's our foundation. We believe in transparent
                                        communication and delivering exactly what we promise. We hope to gain your trust
                                        to handle your shipping needs with integrity and care.</p>
                                </div><!-- /.text-box -->
                            </div>
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-6 col-about">
                            <div class="p-3 shadow-5-strong rounded-3  h-100">
                                <div class="single-feature">
                                    <div class="py-2">
                                       <i class="far fa-star-of-life fa-2x"></i>
                                    </div>
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Initiative</h4>
                                    <p>At Titan Shippers, we thrive on innovation and creativity. We're constantly
                                        looking for new ideas to enhance our services and provide you with the best
                                        shipping solutions.</p>
                                </div><!-- /.text-box -->
                            </div>
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-6 col-about">
                            <div class="p-3 shadow-5-strong rounded-3 h-100 ">
                                <div class="single-feature">
                                    <div class="py-2">
                                       <i class="far fa-star-of-life fa-2x"></i>
                                    </div>
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Teamwork</h4>
                                    <p>We believe in the power of teamwork. By fostering collaboration and respect, we
                                        leverage each person's unique skills for the benefit of the company.</p>
                                </div><!-- /.text-box -->
                            </div>
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-6 col-about">
                            <div class="p-3 shadow-5-strong rounded-3 h-100 ">
                                <div class="single-feature">
                                    <div class="py-2">
                                       <i class="far fa-star-of-life fa-2x"></i>
                                    </div>
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Customer Focused</h4>
                                    <p>We prioritize our customers' needs with utmost flexibility, focusing on
                                        delivering shipments efficiently rather than on processes.</p>
                                </div><!-- /.text-box -->
                            </div>
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-6 col-about">
                            <div class="p-3 shadow-5-strong rounded-3  h-100">
                                <div class="single-feature">
                                    <div class="py-2">
                                       <i class="far fa-star-of-life fa-2x"></i>
                                    </div>
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Cost Effective</h4>
                                    <p>Our rates are affordable and beats all our competitors.</p>
                                </div><!-- /.text-box -->
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div>
                </div>


            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.about-section -->


{% endblock %}