{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="about-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3>About Us</h3>
                <div class="line"></div><!-- /.line -->
            </div><!-- /.title -->
            <div class="bread-cumb">
                <a href="{% url 'home' %}">Home</a><span class="sep">></span><span class="page-name">About Us</span>
            </div><!-- /.bread-cumb pull-right -->
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <div class="tag-line">Who are we?</div><!-- /.tag-line -->
                        <h2>Our Company</h2>
                    </div><!-- /.sec-title -->
                    <p class="small-margin"><span class="big">.</span> Titan Shippers is a company based in Washington
                        State, USA.
                    </p>
                    <p class="small-margin"><span class="big">.</span> We pride ourselves in providing professional
                        shipping services
                        including <span class="text-black">Weekly Air Freight</span> and <span class="text-black">Monthly Sea Shipping</span>
                        from the <span class="text-black">USA to Kenya</span> .</p>
                    <p class="small-margin"><span class="big">.</span> We rank top among the companies that provide
                        shipping services
                        from the USA to Kenya.</p>
                </div><!-- /.col-md-12 -->

            </div><!-- /.row -->
        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box" style="margin-bottom:7px!important;">
                    <div class="sec-title">
                        <h3>Our Values</h3>
                    </div><!-- /.sec-title -->
                    <p> In pursuit of Service excellence, we have identified key criteria to ensure that service
                        expectations are not only fulfilled, but also exceeded. We take a proactive approach to
                        operating as a good corporate citizen by incorporating business best practices into our model
                        that favor social and environmental responsibility.</p>
                </div><!-- /.col-md-12 -->
                <div class="feature-box" style="margin-left:10px!important;">
                    <div class="row feature-box-wrapper">
                        <div class="col-md-12">
                            <div class="single-feature">
                                <div class="img-box">
                                    <div class="inner">
                                        <i class="fn-icon-play-button"></i>
                                    </div><!-- /.inner -->
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Honesty</h4>
                                    <p>Honesty is the foundation of our company and our commitment to you.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-feature -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-12">
                            <div class="single-feature">
                                <div class="img-box">
                                    <div class="inner">
                                        <i class="fn-icon-play-button"></i>
                                    </div><!-- /.inner -->
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Openness</h4>
                                    <p>We promote transparency, integrity as well as willingness to listen, learn and
                                        develop one’s self.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-feature -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-12">
                            <div class="single-feature">
                                <div class="img-box">
                                    <div class="inner">
                                        <i class="fn-icon-play-button"></i>
                                    </div><!-- /.inner -->
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Initiative</h4>
                                    <p>We encourage new ideas, creativity, and innovative approaches to continuously
                                        improve our services.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-feature -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-12">
                            <div class="single-feature">
                                <div class="img-box">
                                    <div class="inner">
                                        <i class="fn-icon-play-button"></i>
                                    </div><!-- /.inner -->
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Teamwork</h4>
                                    <p>We foster collaboration and respect, and aim to leverage each person’s
                                        competencies for the benefit of the company.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-feature -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-12">
                            <div class="single-feature">
                                <div class="img-box">
                                    <div class="inner">
                                        <i class="fn-icon-play-button"></i>
                                    </div><!-- /.inner -->
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Customer Focused</h4>
                                    <p>We prioritize our customers' needs with utmost flexibility, focusing on
                                        delivering shipments efficiently rather than on processes.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-feature -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-12">
                            <div class="single-feature">
                                <div class="img-box">
                                    <div class="inner">
                                        <i class="fn-icon-play-button"></i>
                                    </div><!-- /.inner -->
                                </div><!-- /.img-box -->
                                <div class="text-box">
                                    <h4>Cost Effective</h4>
                                    <p>Our rates are affordable and beats all our competitors.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-feature -->
                        </div><!-- /.col-md-4 -->
                    </div>
                </div>


            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.about-section -->


{% endblock %}