{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="air-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3>Air Shipping</h3>
                <div class="line"></div><!-- /.line -->
            </div><!-- /.title -->
            <div class="bread-cumb">
                <a href="{% url 'home' %}">Home</a><span class="sep">></span><span class="page-name">Air Shipping</span>
            </div><!-- /.bread-cumb pull-right -->
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->
    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h2>Air Shipping</h2>
                    </div><!-- /.sec-title -->
                    
                    <p class="small-margin"><span class="big">.</span> Air shipment is done <span class="text-black">on Tuesday Every week. Charges are based on weight and is done by taking the higher between volumetric weight and actual weight. Electronics like laptops and phones are charged per device. There is a minimum charge of $50 per shipment. Special rate applies for large consignments and shipments above 100 pounds</span>.
                    </p>
                    <p class="small-margin"><span class="big">.</span> Air shipment is required to have insurance coverage at the rate of 2% for non-electronic items value and 5% for electronics.</span>.
                    </p>

                    <p class="small-margin"><span class="big">.</span> Use our <span class="text-black"><a href="{% url 'pricing' %}">Cost Calculator</a> </span> to know the shipping price.
                    </p>
            
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h3 class="text-center">For enquiries call</h3>
                    </div><!-- /.sec-title -->
                    <div>
                        <h4 class="h3 text-center" style="font-weight: bolder!important;"><a class="text-danger"
                                                                                             href="tel://(206) 730 2488">(206)
                            730 2488</a></h4>
                        <h5 class="h3 text-center" style="font-weight: bolder!important;"><a class="text-danger"
                                                                                             target="_blank"
                                                                                             href="mailto:info@titanshippers.com">info@titanshippers.com</a>
                        </h5>
                    </div>

                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->
    </section><!-- /.you buy - we ship-section -->
{% endblock %}