{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="air-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3 class="py-4">Air Shipping</h3>
            </div><!-- /.title -->
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->
    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h2>Weekly Shipments from Seattle</h2>
                    </div><!-- /.sec-title -->
                    
                    <p class="small-margin"><span class="big">.</span> Air shipment is done <span class="">on Tuesday Every week. Charges are based on weight and is done by taking the higher between volumetric weight and actual weight. Electronics like laptops and phones are charged per device. There is a minimum charge of $50 per shipment. Special rate applies for large consignments and shipments above 100 pounds</span>.
                    </p>
                    <p class="small-margin"><span class="big">.</span> Air shipment is required to have insurance coverage at the rate of 2% for non-electronic items value and 5% for electronics.</span>.
                    </p>
                    <p class="small-margin"><span class="big">.</span> Use our <span class=""><a href="{% url 'pricing' %}">Cost Calculator</a> </span> to know the shipping price.
                    </p>
            
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->

    </section><!-- /.you buy - we ship-section -->
{% endblock %}