<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Ranbron || Responsive HTML 5 template</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>

<div id="page-wrapper">



    <header class="header home-page-one">
        <nav class="navbar navbar-default header-navigation stricky">
            <div class="thm-container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="img/header-logo.png" alt="Awesome Image"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse main-navigation" id="main-nav-bar">
                    

                    <ul class="nav navbar-nav navigation-box">
                        <li>
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">                           
                                <li><a href="index.html">Home Page One</a></li>
                                <li><a href="index2.html">Home Page Two</a></li>
                                <li><a href="index3.html">Home Page Three</a></li>
                                <li><a href="index4.html">Home Page Four</a></li>
                                <li><a href="index5.html">Home Page Five</a></li>
                                <li>
                                	<a href="#">Header styles</a>
                                	<ul class="sub-menu">                           
		                                <li><a href="index.html">Style One</a></li>
		                                <li><a href="index2.html">Style Two</a></li>
		                                <li><a href="index3.html">Style Three</a></li>
		                                <li><a href="index4.html">Style Four</a></li>
		                                <li><a href="index5.html">Style Five</a></li>
		                            </ul><!-- /.sub-menu -->
                                </li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="about.html">About Us</a>
                            <ul class="sub-menu">                           
                                <li><a href="company-history.html">Company History</a></li>
                                <li><a href="team.html">Team Member</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li class="current">
                            <a href="services.html">Services</a>
                            <ul class="sub-menu">                           
                                <li><a href="services.html">All Services</a></li>
	                            <li><a href="risk-management.html">Risk Management</a></li>
								<li><a href="business.html">Business Consulting</a></li>
								<li><a href="audit.html">Audit & Accounting</a></li>
								<li><a href="tax.html">Tax Planning</a></li>
								<li><a href="accumulation.html">Accumulation</a></li>
								<li><a href="advisory.html">Advisory</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="cases.html">Cases</a>
                            <ul class="sub-menu">                           
                                <li><a href="cases.html">Cases</a></li>
                                <li><a href="cases.html">Cases Two</a></li>
                                <li><a href="case-details.html">Case Details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="404.html">404 page</a></li>
                                <li><a href="comming-soon.html">Comming Soon page</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog with sidebar</a></li>
                                <li><a href="blog-2-col.html">Blog 2 Col</a></li>
                                <li><a href="blog-details.html">Blog details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="elements.html">Elements</a></li>
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
                <div class="right-side-box">
                    <a href="#test-search" class="popup-with-zoom-anim search-toggle" ><i class="icon icon-Search"></i></a>
                </div><!-- /.right-side-box -->
            </div><!-- /.container -->
        </nav>
    </header><!-- /.header -->

	<section class="inner-banner">
		<div class="thm-container">
			<div class="title">
				<h3>Audit & Accounting</h3>
				<div class="line"></div><!-- /.line -->
			</div><!-- /.title -->
			<div class="bread-cumb">
				<a href="#">Home</a><span class="sep">></span><span class="page-name">Risk Management</span>
			</div><!-- /.bread-cumb pull-right -->
		</div><!-- /.thm-container -->
	</section><!-- /.inner-banner -->

	<section class="single-service-page-area sec-pad">
		<div class="thm-container">
			<div class="row">
				<div class="col-md-3">
					<div class="sidebar-left sidebar">
						<div class="single-sidebar sidebar-service-list">
							<ul>
								<li><a href="risk-management.html">Risk Management</a></li>
								<li><a href="business.html">Business Consulting</a></li>
								<li class="active"><a href="audit.html">Audit & Accounting</a></li>
								<li><a href="tax.html">Tax Planning</a></li>
								<li><a href="accumulation.html">Accumulation</a></li>
								<li><a href="advisory.html">Advisory</a></li>
							</ul>
						</div>
						<div class="single-sidebar contact-info">
							<div class="single-contact-info">
								<div class="icon-box">
									<i class="fa fa-phone"></i>
								</div><!-- /.icon-box -->
								<div class="text-box">
									<p>Phone:<br />1800 456 7890</p>
								</div><!-- /.text-box -->
							</div><!-- /.single-contact-info -->
							<div class="single-contact-info">
								<div class="icon-box">
									<i class="fa fa-paper-plane"></i>
								</div><!-- /.icon-box -->
								<div class="text-box">
									<p>Email:<br />info@Ranbron.com</p>
								</div><!-- /.text-box -->
							</div><!-- /.single-contact-info -->
						</div><!-- /.single-sidebar contact-info -->
						<div class="single-sidebar broucher-widget">
							<a href="#"><img src="img/pdf-icon.png" alt="Awesome Image"/> Download Pdf.</a>
						</div><!-- /.single-sidebar broucher-widget -->
					</div><!-- /.sidebar-left sidebar -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-9">
					<div class="has-left-sidebar service-single-content">
						<div class="img-box">
							<img src="img/audit-1.jpg" alt="" />
						</div><!-- /.img-box -->
						<h3 class="title">Audit & Accounting</h3>
						<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going for</p>
						<p class="highlighted">Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua sedu enim ad minim veniam exercitation ullamco eiusmod tempor incididunt ut labore et dolore magna aliqua sedu.</p>
						
						<br />
						<div class="feature-box">
							<div class="row feature-box-wrapper">
								<div class="col-md-6">
									<div class="single-feature">
										<div class="img-box">
											<div class="inner">
												<i class="fn-icon-presentation"></i>
											</div><!-- /.inner -->
										</div><!-- /.img-box -->
										<div class="text-box">
											<h4>Market Research</h4>
											<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div><!-- /.text-box -->
									</div><!-- /.single-feature -->
								</div><!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="single-feature">
										<div class="img-box">
											<div class="inner">
												<i class="fn-icon-exam"></i>
											</div><!-- /.inner -->
										</div><!-- /.img-box -->
										<div class="text-box">
											<h4>Business Plans</h4>
											<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div><!-- /.text-box -->
									</div><!-- /.single-feature -->
								</div><!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="single-feature ">
										<div class="img-box">
											<div class="inner">
												<i class="fn-icon-piggy-bank"></i>
											</div><!-- /.inner -->
										</div><!-- /.img-box -->
										<div class="text-box">
											<h4>Company Growth</h4>
											<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div><!-- /.text-box -->
									</div><!-- /.single-feature -->
								</div><!-- /.col-md-6 -->
								<div class="col-md-6 ">
									<div class="single-feature">
										<div class="img-box">
											<div class="inner">
												<i class="fn-icon-bars"></i>
											</div><!-- /.inner -->
										</div><!-- /.img-box -->
										<div class="text-box">
											<h4>Get Revenue</h4>
											<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
										</div><!-- /.text-box -->
									</div><!-- /.single-feature -->
								</div><!-- /.col-md-6 -->
							</div><!-- /.row -->
						</div><!-- /.feature-box -->
						<br /><br />
						<div class="row image-col">						
							<div class="col-md-6">
								<img src="img/audit-2.jpg" alt="" />
							</div><!-- /.col-md-6 -->
							<div class="col-md-6">
								<h4>Benefit of Training</h4>
								<p>Expound the actual teachings of the great explorr of the truth, the master-builde of human happiness. No one reject, dislike, or avoids pleasure itself,</p>
								<ul class="checklist">
									<li><img src="img/service-bulleted-list.png" alt="Awesome Image"/> Those who do not know how to pursue</li>
									<li><img src="img/service-bulleted-list.png" alt="Awesome Image"/> Pleasure rationally encounter</li>
									<li><img src="img/service-bulleted-list.png" alt="Awesome Image"/> Consequences that are extremely painful.</li>
									<li><img src="img/service-bulleted-list.png" alt="Awesome Image"/> Nor again is there anyone who loves or pursues</li>
								</ul><!-- /.checklist -->
							</div><!-- /.col-md-6 -->
						</div><!-- /.row -->
						<br /><br />
						<div class="row">
							<div class="col-md-12">
								<div class="accordion-style-two">
									<h4>Why Choose Us</h4>
									<div class="accrodion-grp" data-grp-name="faq-accrodion">
										<div class="accrodion ">
											<div class="accrodion-title">
												<h4>Bring to the table win-win survival  hanging fruit to identify strategies.</h4>
											</div>
											<div class="accrodion-content">
												<p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids. actual teachings of the great explorer of the truth, the master-builder of human actual teachings of the great explorer of the truth, the master-builder of human.</p>
											</div>
										</div>
										<div class="accrodion active">
											<div class="accrodion-title">
												<h4>To ensure proactive  hanging fruit to identify domination.</h4>
											</div>
											<div class="accrodion-content">
												<p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids. actual teachings of the great explorer of the truth, the master-builder of human actual teachings of the great explorer of the truth, the master-builder of human.</p>
											</div>
										</div>
										<div class="accrodion">
											<div class="accrodion-title">
												<h4>Capitalize on low hanging fruit to hanging fruit to identify  identify.</h4>
											</div>
											<div class="accrodion-content">
												<p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids. actual teachings of the great explorer of the truth, the master-builder of human actual teachings of the great explorer of the truth, the master-builder of human.</p>
											</div>
										</div>
										<div class="accrodion">
											<div class="accrodion-title">
												<h4>Activity to beta test.  hanging fruit to identify override the digital divide.</h4>
											</div>
											<div class="accrodion-content">
												<p>Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids. actual teachings of the great explorer of the truth, the master-builder of human actual teachings of the great explorer of the truth, the master-builder of human.</p>
											</div>
										</div>
									</div>
								</div><!-- /.accordion-style-two -->
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
					</div><!-- /.has-left-sidebar -->
				</div><!-- /.col-md-9 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</section><!-- /.single-service-page-area -->

	<footer class="footer">
		<div class="thm-container">
			<div class="row">
				<div class="col-md-3">
					<div class="about-widget footer-widget">
						<a href="#" class="footer-logo"><img src="img/footer-logo.png" alt="Awesome Image"/></a>
						<p class="phone-number">(1800) 574 9687</p><!-- /.phone-number -->
						<p class="address">542, 8 no. Street, New Youk, MAC 5245 <br />Ranbron@contact.gmail.com</p><!-- /.address -->
					</div><!-- /.about-widget footer-widget -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-2">
					<div class="footer-widget links-widget">
						<div class="title">
							<h3>Useful Links</h3>
						</div><!-- /.title -->
						<ul class="link-list">
							<li><a href="#">Home</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Request Call Back</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul><!-- /.link-list -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-md-2 -->
				<div class="col-md-3">
					<div class="footer-widget links-widget service-widget">
						<div class="title">
							<h3>Services</h3>
						</div><!-- /.title -->
						<ul class="link-list">
							<li><a href="#">Financial Services</a></li>
							<li><a href="#">Business Development</a></li>
							<li><a href="#">Taxes & Effieciency</a></li>
							<li><a href="#">Strategy Planning</a></li>
							<li><a href="#">Customer Insight</a></li>
						</ul><!-- /.link-list -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-4">
					<div class="footer-widget subscribe-widget">
						<div class="title">
							<h3>Newsletter</h3>
						</div><!-- /.title -->
						<p>Get latest updates and offers.</p>
						<form action="#">
							<input type="text" placeholder="Enter your email address"/>
							<button type="submit"><i class="fa fa-paper-plane"></i></button>
						</form>
						<div class="social">
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-linkedin"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-google-plus"></a>
						</div><!-- /.social -->
					</div><!-- /.footer-widget subscribe-widget -->
				</div><!-- /.col-md-4 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</footer><!-- /.footer -->
	<section class="footer-bottom text-center">
		<div class="thm-container">
			<p>&copy; Copyright  Ranbron Consulting Firm 2018 . All right reserved.</p>
		</div><!-- /.thm-container -->
	</section><!-- /.footer-bottom -->

</div><!-- /#page-wrapper -->

<!--Scroll to top-->
<!-- <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div> -->

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <h3>Search</h3>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
            </span>
        </div>
    </div>
</div>


<script src="assets/jquery.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>



<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="assets/gmaps.js"></script>
<!-- google map helper -->  
<script src="assets/map-helper.js"></script>

<script src="assets/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="assets/owl.carousel-2/owl.carousel.min.js"></script>



<script src="assets/isotope.js"></script>





<script src="assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>

<script src="assets/waypoints.min.js"></script>
<script src="assets/jquery.counterup.min.js"></script>

<script src="assets/wow.min.js"></script>




<script src="js/custom.js"></script>

    
</body>
</html>