{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Titan Shippers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo-cropped.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <style>
        body {
            background: #8360c3; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8360c3, #2ebf91); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #8360c3, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        * {
            color: white !important;
        }

        .navbar-brand img {
            max-height: 70px;
            margin-left: 10px;
            margin-top: auto !important;
            margin-bottom: auto !important;
        }

        .addr {
            color: gray;
        }

        .addr:hover {
            color: #5E68FF;
        }

        .submit-btn:hover {
            color: white;
        }

        .submit-btn:focus {
            outline: none;
            color: white;
        }

        .small-margin {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .bg-color-scheme {
            background: #3E56AA;
            color: white;
            font-weight: bolder;
        }

        .big {
            font-size: 54px;
        !important;
        }

        .thick {
            font-size: 17px !important;
            color: black !important;
        }
    </style>
</head>
<body>

<div id="page-wrapper">

    <header class="header home-page-two">
        <div class="top-bar-home-two">
            <div class="thm-container clearfix">
                <div class="left-contact-info pull-left">
                    <ul class="list-inline">
                        <li><p><i class="fa fa-phone"></i> + (206) 730 2488</p></li><!--
    					-->
                        <li><p><i class="fa fa-envelope-o"></i> info@titanshippers.com</p></li><!--
    					-->
                    </ul><!-- /.list-inline -->
                </div><!-- /.left-contact-info -->
                <div class="right-social pull-right">
                    <ul class="list-inline">
                        <li><a target=”_blank” href="https://www.facebook.com/aquariumcabanasnrb"
                               class="fa fa-facebook"></a></li>
                    </ul><!-- /.list-inline -->
                </div><!-- /.right-contact-info pull-right -->
            </div><!-- /.thm-container -->
        </div><!-- /.top-bar-home-two -->
        <nav class="navbar navbar-default header-navigation stricky">
            <div class="thm-container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"
                       style="padding-top:5px!important;padding-bottom:5px!important">
                        <img src="{% static 'img/logo-cropped.png' %}" alt="logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse main-navigation" id="main-nav-bar">


                    <ul class="nav navbar-nav navigation-box">
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'air' %}">Air Shipping</a></li>
                        <li><a href="{% url 'sea' %}">Sea Shipping</a></li>
                        <li><a href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>
                        <li><a href="{% url 'pricing' %}">Cost Calculator</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="about-widget footer-widget ">
                        <a href="{% url 'home' %}" class="footer-logo"><img class="img-rounded"
                                                                            style="max-height: 100px;"
                                                                            src="{% static 'img/footer-logo.jpeg' %}"
                                                                            alt="footer"/></a>
                        <p class="phone-number"><a class="addr" target="_blank" href="tel://(206) 730 2488">(206) 730
                            2488</a></p><!-- /.phone-number -->
                        <p class="address"><a class="addr" target="_blank"
                                              href="https://maps.app.goo.gl/s4mEaYRGBxJ9m98W9">418 112St East Suite B,
                            Tacoma, WA 98445</a> <br/> <a class="addr" target="_blank"
                                                          href="mailto:info@titanshippers.com">info@titanshippers.com</a>
                        </p>

                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="footer-widget links-widget">
                        <div class="title">
                            <h3>Useful Links</h3>
                        </div><!-- /.title -->
                        <ul class="link-list">
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'air' %}">Air Shipping</a></li>
                            <li><a href="{% url 'sea' %}">Sea Shipping</a></li>
                            <li><a href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>
                            <li><a href="{% url 'pricing' %}">Cost Calculator</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget links-widget service-widget">
                        <div class="title">
                            <h3>Services</h3>
                        </div><!-- /.title -->
                        <ul class="link-list">
                            <li><a href="{% url 'air' %}">Air Shipping</a></li>
                            <li><a href="{% url 'sea' %}">Sea Shipping</a></li>
                            <li><a href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget subscribe-widget">
                        <div class="title">
                            <h3>Book a Pick-Up</h3>
                        </div>
                        <p style="margin-bottom: 10px!important;">Leave your phone and address for us to pick up your
                            packages.</p>
                        <div id="book-pick-up" class="">
                            <button class="btn-block" style="padding-top: 3px!important;padding-bottom: 3px!important;">
                                <i class="fa fa-truck fa-2x"></i></button>
                        </div>
                        <div class="social">
                            <a target="_blank" href="https://www.facebook.com/aquariumcabanasnrb"
                               class="fa fa-facebook"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="footer-bottom text-center">
        <div class="thm-container">
            <p><span id="current-year"></span> &copy; Titan Shippers . All right reserved</p>
        </div>
    </section>

</div>

<!--Scroll to top-->
{#<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>#}


<script>document.getElementById("current-year").innerHTML = new Date().getFullYear()</script>
<script src="{% static 'assets/jquery.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'assets/gmaps.js' %}"></script>
<script src="{% static 'assets/map-helper.js' %}"></script>
<script src="{% static 'assets/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/owl.carousel-2/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/isotope.js' %}"></script>
<script src="{% static 'assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/waypoints.min.js' %}"></script>
<script src="{% static 'assets/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/wow.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
