{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Titan Shippers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo-cropped.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/font-awesome/css/all.min.css' %}" rel="stylesheet"/>


    <style>
        * {
            font-family: "Raleway", sans-serif !important;
            font-optical-sizing: auto;
        }

        body {
            background: rgb(9, 19, 54);
            background: linear-gradient(90deg, rgba(9, 19, 54, 1) 0%, rgba(26, 48, 87, 1) 80%);
        }

        * {
            color: white !important;
        }

        .addr {
            color: gray;
        }

        .addr:hover {
            color: #5E68FF;
        }

        .submit-btn:hover {
            color: white;
        }

        .submit-btn:focus {
            outline: none;
            color: white;
        }


        .blue-bg {
            background: rgb(9, 19, 54) !important;
            background: linear-gradient(90deg, rgba(9, 19, 54, 1) 0%, rgba(26, 48, 87, 1) 80%) !important;
            color: white;
        }

        .big {
            font-size: 54px !important;
        }

        p {
            font-size: 17px !important;
            line-height: 24px !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg  blue-bg navbar-dark fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid px-5">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{% url 'home' %}"><img style="max-height: 60px;"
                                                                 src="{% static 'img/logo-cropped.png' %}"
                                                                 alt="logo"></a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>

                <!-- Icons -->
                <ul class="navbar-nav d-flex flex-row me-1">

                    <li class="nav-item me-lg-0"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                    <li class="nav-item me-lg-0"><a class="nav-link" href="{% url 'air' %}">Air Shipping</a></li>
                    <li class="nav-item me-lg-0"><a class="nav-link" href="{% url 'sea' %}">Sea Shipping</a></li>
                    <li class="nav-item me-lg-0"><a class="nav-link" href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>
                    <li class="nav-item me-lg-0"><a class="nav-link" href="{% url 'pricing' %}">Cost Calculator</a></li>
                    <li class="nav-item me-lg-0"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>

                </ul>

            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
<div id="page-wrapper">

    {#    <header class="header home-page-two">#}
    {#        <div class="top-bar-home-two">#}
    {#            <div class="thm-container clearfix">#}
    {#                <div class="left-contact-info pull-left">#}
    {#                    <ul class="list-inline">#}
    {#                        <li><p><i class="fa fa-phone"></i> + (206) 730 2488</p></li><!--#}
    {#    					-->#}
    {#                        <li><p><i class="fa fa-envelope-o"></i> info@titanshippers.com</p></li><!--#}
    {#    					-->#}
    {#                    </ul><!-- /.list-inline -->#}
    {#                </div><!-- /.left-contact-info -->#}
    {#                <div class="right-social pull-right">#}
    {#                    <ul class="list-inline">#}
    {#                        <li><a target=”_blank” href="https://www.facebook.com/aquariumcabanasnrb"#}
    {#                               class="fa fa-facebook"></a></li>#}
    {#                    </ul><!-- /.list-inline -->#}
    {#                </div><!-- /.right-contact-info pull-right -->#}
    {#            </div><!-- /.thm-container -->#}
    {#        </div><!-- /.top-bar-home-two -->#}
    {#        <nav class="navbar navbar-default header-navigation stricky">#}
    {#            <div class="thm-container clearfix">#}
    {#                <!-- Brand and toggle get grouped for better mobile display -->#}
    {#                <div class="navbar-header">#}
    {#                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
    {#                            data-target=".main-navigation" aria-expanded="false">#}
    {#                        <span class="sr-only">Toggle navigation</span>#}
    {#                        <span class="icon-bar"></span>#}
    {#                        <span class="icon-bar"></span>#}
    {#                        <span class="icon-bar"></span>#}
    {#                    </button>#}
    {#                    <a class="navbar-brand" href="{% url 'home' %}"#}
    {#                       style="padding-top:5px!important;padding-bottom:5px!important">#}
    {#                        <img src="{% static 'img/logo-cropped.png' %}" alt="logo">#}
    {#                    </a>#}
    {#                </div>#}
    {##}
    {#                <!-- Collect the nav links, forms, and other content for toggling -->#}
    {#                <div class="collapse navbar-collapse main-navigation" id="main-nav-bar">#}
    {##}
    {##}
    {#                    <ul class="nav navbar-nav navigation-box">#}
    {#                        <li><a href="{% url 'about' %}">Home</a></li>#}
    {#                        <li><a href="{% url 'air' %}">Air Shipping</a></li>#}
    {#                        <li><a href="{% url 'sea' %}">Sea Shipping</a></li>#}
    {#                        <li><a href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>#}
    {#                        <li><a href="{% url 'pricing' %}">Cost Calculator</a></li>#}
    {#                        <li><a href="{% url 'contact' %}">Contact Us</a></li>#}
    {#                    </ul>#}
    {##}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </nav>#}
    {#    </header>#}
    
    <!-- Navbar -->
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="about-widget footer-widget ">
                        <a href="{% url 'home' %}" class="footer-logo"><img class="img-rounded"
                                                                            style="max-height: 100px;"
                                                                            src="{% static 'img/footer-logo.jpeg' %}"
                                                                            alt="footer"/></a>
                        <p class="phone-number"><a class="addr" target="_blank" href="tel://(206) 730 2488">(206) 730
                            2488</a></p><!-- /.phone-number -->
                        <p class="address"><a class="addr" target="_blank"
                                              href="https://maps.app.goo.gl/s4mEaYRGBxJ9m98W9">418 112St East Suite B,
                            Tacoma, WA 98445</a> <br/> <a class="addr" target="_blank"
                                                          href="mailto:info@titanshippers.com">info@titanshippers.com</a>
                        </p>

                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="footer-widget links-widget">
                        <div class="title">
                            <h3>Useful Links</h3>
                        </div><!-- /.title -->
                        <ul class="link-list">
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'air' %}">Air Shipping</a></li>
                            <li><a href="{% url 'sea' %}">Sea Shipping</a></li>
                            <li><a href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>
                            <li><a href="{% url 'pricing' %}">Cost Calculator</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget links-widget service-widget">
                        <div class="title">
                            <h3>Services</h3>
                        </div><!-- /.title -->
                        <ul class="link-list">
                            <li><a href="{% url 'air' %}">Air Shipping</a></li>
                            <li><a href="{% url 'sea' %}">Sea Shipping</a></li>
                            <li><a href="{% url 'you-buy-we-ship' %}">You Buy - We Ship</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget subscribe-widget">
                        <div class="title">
                            <h3>Book a Pick-Up</h3>
                        </div>
                        <p style="margin-bottom: 10px!important;">Leave your phone and address for us to pick up your
                            packages.</p>
                        <div id="book-pick-up" class="">
                            <button class="btn-block" style="padding-top: 3px!important;padding-bottom: 3px!important;">
                                <i class="fa fa-truck fa-2x"></i></button>
                        </div>
                        <div class="social">
                            <a target="_blank" href="https://www.facebook.com/aquariumcabanasnrb"
                               class="fa fa-facebook"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="footer-bottom text-center">
        <div class="thm-container">
            <p><span id="current-year"></span> &copy; Titan Shippers . All right reserved</p>
        </div>
    </section>

</div>

<script>document.getElementById("current-year").innerHTML = new Date().getFullYear()</script>
<script src="{% static 'assets/jquery.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>
<script src="{% static 'assets/font-awesome/js/all.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
