{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
    <style>
        .active > .page-link, .page-link.active {
            background-color: #3f51b5 !important;
        }

        div.dt-paging ul.pagination {
            color: #0a53be;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title mt-5">
                        <h4>Manage Bookings</h4>
                    </div><!-- /.sec-title -->
                    <div>
                        <table id="all-bookings" class="table table-striped table-bordered mt-3" style="width:100%">
                            <thead class="bg-color-scheme">
                            <tr class="fw-bolder">
                                <th>Name</th>
                                <th>Phone No</th>
                                <th>City</th>
                                <th>Date Booked</th>
                                <th>Viewed?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}

                                <tr class='clickable-row' data-href="{% url 'booking' id=booking.id %}">
                                    <td>{{ booking.name }}</td>
                                    <td>{{ booking.phonenumber }}</td>
                                    <td>{{ booking.city }}</td>
                                    <td>{{ booking.created | naturalday }}</td>
                                    <td>{{ booking.read }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->

    </section><!-- /.you buy - we ship-section -->
    <hr>
{% endblock %}
{% block scripts %}
    <script>
        new DataTable('#all-bookings', {
            columnDefs: [
                {
                    target: 2,
                    visible: false,
                    searchable: true
                },
                {
                    target: 3,
                    visible: false,
                    searchable: true
                },
                {
                    target: 4,
                    visible: false,
                    searchable: true
                }
            ]
        });
        jQuery(document).ready($ => {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}