{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="buy-ship-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3>You Buy - We Ship</h3>
                <div class="line"></div><!-- /.line -->
            </div><!-- /.title -->
            <div class="bread-cumb">
                <a href="{% url 'home' %}">Home</a><span class="sep">></span><span class="page-name">You Buy - We Ship</span>
            </div><!-- /.bread-cumb pull-right -->
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h2>You Buy - We Ship</h2>
                    </div><!-- /.sec-title -->
                    <p class="small-margin">Due to Logistical challenges, most online stores are unable to ship directly
                        from the USA to Kenya. <span class="text-black">To buy from the US</span> To buy from the US,
                        you can <span class="text-black">choose one of these two solutions</span> :</p>
                    <p><span style="font-weight: bolder">1.</span> Client purchases the items online and gets them
                        delivered to our US address.</p>
                    <p><span style="font-weight: bolder">2.</span> Clients pays for the items at our Kenya Office and
                        the US office buys and receives the items at our US address.</p>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box" style="margin-bottom: 0!important;">
                    <div class="sec-title">
                        <h3>How the items flow</h3>
                    </div><!-- /.sec-title -->
                </div><!-- /.col-md-12 -->
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-center" style="font-weight: bold">
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Item Purchased (By Client or US Office)</div>
                        </div>
                        <div><i class="fa fa-arrow-down fa-2x text-black"></i></div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Item Received by our US Office</div>
                        </div>
                        <div><i class="fa fa-arrow-down fa-2x text-black"></i></div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Item Consolidated by our US Office</div>
                        </div>
                        <div><i class="fa fa-arrow-down fa-2x text-black"></i></div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Item Shipped from the US to Kenya</div>
                        </div>
                        <div><i class="fa fa-arrow-down fa-2x text-black"></i></div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Item Received by Kenya Office</div>
                        </div>
                        <div><i class="fa fa-arrow-down fa-2x text-black"></i></div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Item Owner Notified</div>
                        </div>
                        <div><i class="fa fa-arrow-down fa-2x text-black"></i></div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading">Client Pays the Shipping Charges and Pick the Item</div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->

        </div><!-- /.thm-container -->

        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h3 class="text-center">Call for Any Enquiries</h3>
                    </div><!-- /.sec-title -->
                    <div>
                        <h4 class="h3 text-center" style="font-weight: bolder!important;"><a class="text-danger"
                                                                                             href="tel://(206) 730 2488">(206)
                            730 2488</a></h4>
                        <h5 class="h3 text-center" style="font-weight: bolder!important;"><a class="text-danger"
                                                                                             target="_blank"
                                                                                             href="mailto:info@titanshippers.com">info@titanshippers.com</a>
                        </h5>
                    </div>

                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->

    </section><!-- /.you buy - we ship-section -->
{% endblock %}