<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Venture || Responsive HTML 5 template</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>


<section class="comming-soon-area">
	<div class="thm-container text-center">
		<h3><span>Comming</span> Soon</h3>
		<ul class="countdown-box clearfix" data-countdown-time="2018/07/12">
            <!-- Loading content via jQuery -->
        </ul>
        <p>Website is under construction. We'll be here soon with new <br />awesome site, Subscribe to be notified.</p>
        <form action="#">
        	<input type="text" placeholder="Enter your email address" />
        	<button type="submit">Submit now</button>
        </form>
	</div><!-- /.thm-container -->
</section><!-- /.comming-soon-area -->


<script src="assets/jquery.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/jquery.countdown.min.js"></script>
<script src="js/custom.js"></script>
    
</body>
</html>