{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="inner-banner contact-banner">
        <div class="thm-container">
            <div class="title">
                <h3>Contact Us</h3>
                <div class="line"></div><!-- /.line -->
            </div><!-- /.title -->
            <div class="bread-cumb">
                <a href="{% url 'home' %}">Home</a><span class="sep">></span><span class="page-name">Contact Us</span>
            </div><!-- /.bread-cumb pull-right -->
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h2>Contact Us</h2>
                    </div><!-- /.sec-title -->
                    
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->
    </section><!-- /.you buy - we ship-section -->
{% endblock %}