<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Ranbron || Responsive HTML 5 template</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>

<div id="page-wrapper">



    <div class="header-top-home-three home-four">
        <div class="thm-container clearfix">
            <div class="logo pull-left">
                <a href="index3.html">
                    <img src="img/header-logo-2.png" alt="Awesome Image"/>
                </a>
            </div><!-- /.logo pull-left -->
            <div class="header-top-contact pull-right">
                <div class="single-header-top-content">
                    <div class="icon-box">
                        <i class="icon icon-Pointer"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h4>13005 Greenville Avenue</h4>
                        <p>California, TX 70240</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-top-content -->
                <div class="single-header-top-content">
                    <div class="icon-box">
                        <i class="icon icon-Phone2"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <h4>(1800) 456 7890 </h4>
                        <p>Toll Free</p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-top-content -->
                <div class="single-header-top-content">
                    <a href="#" class="get-a-qoute-btn">Get A Quote</a>
                </div><!-- /.single-header-top-content -->
            </div><!-- /.header-top-contact -->
        </div><!-- /.thm-container -->
    </div><!-- /.header-top -->

    <header class="header home-page-five">     
        <nav class="navbar navbar-default header-navigation stricky">
            <div class="thm-container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="img/header-logo.png" alt="Awesome Image"/></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse main-navigation" id="main-nav-bar">
                    <ul class="nav navbar-nav navigation-box">
                        <li class="current">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">                           
                                <li><a href="index.html">Home Page One</a></li>
                                <li><a href="index2.html">Home Page Two</a></li>                                
                                <li><a href="index3.html">Home Page Three</a></li>
                                <li><a href="index4.html">Home Page Four</a></li>
                                <li><a href="index5.html">Home Page Five</a></li>
                                <li>
                                	<a href="#">Header styles</a>
                                	<ul class="sub-menu">                           
		                                <li><a href="index.html">Style One</a></li>
		                                <li><a href="index2.html">Style Two</a></li>
		                                <li><a href="index3.html">Style Three</a></li>
		                                <li><a href="index4.html">Style Four</a></li>
		                                <li><a href="index5.html">Style Five</a></li>
		                            </ul><!-- /.sub-menu -->
                                </li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="about.html">About Us</a>
                            <ul class="sub-menu">                           
                                <li><a href="company-history.html">Company History</a></li>
                                <li><a href="team.html">Team Member</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="services.html">Services</a>
                            <ul class="sub-menu">                           
                                <li><a href="services.html">All Services</a></li>
	                            <li><a href="risk-management.html">Risk Management</a></li>
								<li><a href="business.html">Business Consulting</a></li>
								<li><a href="audit.html">Audit & Accounting</a></li>
								<li><a href="tax.html">Tax Planning</a></li>
								<li><a href="accumulation.html">Accumulation</a></li>
								<li><a href="advisory.html">Advisory</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="cases.html">Cases</a>
                            <ul class="sub-menu">                           
                                <li><a href="cases.html">Cases</a></li>
                                <li><a href="cases.html">Cases Two</a></li>
                                <li><a href="case-details.html">Case Details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="404.html">404 page</a></li>
                                <li><a href="comming-soon.html">Comming Soon page</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog with sidebar</a></li>
                                <li><a href="blog-2-col.html">Blog 2 Col</a></li>
                                <li><a href="blog-details.html">Blog details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="elements.html">Elements</a></li>
                    </ul>
                    <ul class="nav navbar-nav search-icon-box">
                        <li><a href="#test-search" class="popup-with-zoom-anim search-toggle" ><i class="icon icon-Search"></i></a></li>
                    </ul><!-- /.navbar-right -->
                    
                </div><!-- /.navbar-collapse -->
                <div class="right-side-box">                    
                    <div class="social">
                        <ul class="list-inline">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul><!-- /.list-inline -->
                    </div><!-- /.social -->
                </div><!-- /.right-side-box -->
            </div><!-- /.container -->
        </nav>
    </header><!-- /.header -->

    <div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one slider-home-five" data-ride="carousel">           
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active slide-1" style="background-image: url(img/slider-5-1.jpg);background-position: left top;">
                
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content ">
                                <h2 data-animation="animated fadeInUp">Providing solution <br />for grow your business</h2>
                                <p data-animation="animated fadeInDown">Collaboratively administrate empowered markets via plug-and-play networks.<br /> Dynamically procrastinate B2C users after installed base benefits</p>
                                <a data-animation="animated fadeInDown" href="#" class="thm-button">Request a call back</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="item slide-2" style="background-image: url(img/slider-5-2.jpg);background-position: left top;">
                
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content ">
                                <h2 data-animation="animated fadeInUp">Get Guarantee Success <br />With Our Advisors</h2>
                                <p data-animation="animated fadeInDown">Collaboratively administrate empowered markets via plug-and-play networks.<br /> Dynamically procrastinate B2C users after installed base benefits</p>
                                <a data-animation="animated fadeInDown" href="#" class="thm-button">Request a call back</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="item slide-3" style="background-image: url(img/slider-5-3.jpg);background-position: left top;">
                
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content ">
                                <h2 data-animation="animated fadeInUp">Your Finances <br />Are Our Responsibilites</h2>
                                <p data-animation="animated fadeInDown">Collaboratively administrate empowered markets via plug-and-play networks.<br /> Dynamically procrastinate B2C users after installed base benefits</p>
                                <a data-animation="animated fadeInDown" href="#" class="thm-button">Request a call back</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    <section class="about-section about-page pb0">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <div class="tag-line">Working since 1990</div><!-- /.tag-line -->
                        <h2>About <span>Ranbron</span></h2>
                    </div><!-- /.sec-title -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat. Dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="highlight">Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua sedu enim ad minim veniam exercitation ullamco laboris nisi ut aliquip.</p>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="img/about-1.jpg" alt="Awesome Image"/>
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="img/about-2.jpg" alt="Awesome Image"/>
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="img/about-3.jpg" alt="Awesome Image"/>
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.about-section -->

    <section class="what-we-do-area gray-bg is-overlaped-on-top">
        <div class="thm-container">
            <div class="sec-title text-center">
                <h2>What We Do</h2>
                <div class="line"></div><!-- /.line -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua sedu enim ad minim veniam exercitation ullamco laboris nisi ut aliquip.</p>
            </div><!-- /.sec-title -->
            <div class="row what-we-do-content-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-what-we-do">
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fn-icon-bars"></i>
                            </div><!-- /.inner -->
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="risk-management.html"><h3>Risk Management</h3></a>
                            <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec psum dolor sit amet, cons ectetur elit.</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-what-we-do -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-what-we-do">
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fn-icon-planning"></i>
                            </div><!-- /.inner -->
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="business.html"><h3>Business Consulting</h3></a>
                            <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec psum dolor sit amet, cons ectetur elit.</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-what-we-do -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-what-we-do">
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fn-icon-presentation"></i>
                            </div><!-- /.inner -->
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="audit.html"><h3>Audit & Accounting</h3></a>
                            <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec psum dolor sit amet, cons ectetur elit.</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-what-we-do -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-what-we-do">
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fn-icon-exam"></i>
                            </div><!-- /.inner -->
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="tax.html"><h3>Tax Planning</h3></a>
                            <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec psum dolor sit amet, cons ectetur elit.</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-what-we-do -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-what-we-do">
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fn-icon-piggy-bank"></i>
                            </div><!-- /.inner -->
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="accumulation.html"><h3>Accumulation</h3></a>
                            <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec psum dolor sit amet, cons ectetur elit.</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-what-we-do -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-what-we-do">
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fn-icon-line-graph"></i>
                            </div><!-- /.inner -->
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="advisory.html"><h3>Advisory</h3></a>
                            <p>Lorem ipsum dolor sit amet, cons ect etur elit. Vestibulum nec psum dolor sit amet, cons ectetur elit.</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-what-we-do -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.what-we-do-area -->

    <section class="mission-history-area">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sec-title">
                        <h3>Our mission</h3>
                        <div class="line"></div><!-- /.line -->
                    </div><!-- /.sec-title -->
                    <div class="misson-content">
                        <p class="highlighted">Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua sedu enim ad minim veniam exercitation.</p><!-- /.highlighted -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut labore et dolore magna aliqua uat enim ad minim veniama quis nostrud ullamcoab oris nisi ut aliquip ex ea commodo consequat. Dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur sed eiusmod tempor.</p>
                    </div><!-- /.misson-content -->
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <div class="sec-title">
                        <h3>History of firm</h3>
                        <div class="line"></div><!-- /.line -->
                    </div><!-- /.sec-title -->
                    <div class="history-content">
                        <p class="highlighted">Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua sedu enim ad minim veniam exercitation.</p><!-- /.highlighted -->
                        <ul class="list-item">
                            <li>- Bring to the table win-win survival strategies</li>
                            <li>- Ensure proactive domination.</li>
                            <li>- At the end of the day, going forward</li>
                            <li>- Evolved from generation  the runway heading </li>
                        </ul><!-- /.list-item -->
                    </div><!-- /.history-content -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.mission-history-area -->

    <section class="project-area">
        <div class="thm-container">
            <div class="sec-title">
                <h2>Practise Area</h2>
                <p>Dolor in reprehenderit in voluptate velit esse cillum </p>
                <div class="line"></div><!-- /.line -->
            </div><!-- /.sec-title -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-project">
                        <div class="img-box">
                            <img src="img/project-1.jpg" alt="Awesome Image"/>
                            <div class="overlay">
                                <div class="box">
                                    <div class="content"><a href="#">View Details</a></div><!-- /.content -->
                                </div><!-- /.box -->
                            </div><!-- /.overlay -->
                        </div><!-- /.img-box -->
                        <a href="#"><h3>Business Consulting</h3></a>
                        <div class="line"></div><!-- /.line -->
                    </div><!-- /.single-project -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-project">
                        <div class="img-box">
                            <img src="img/project-2.jpg" alt="Awesome Image"/>
                            <div class="overlay">
                                <div class="box">
                                    <div class="content"><a href="#">View Details</a></div><!-- /.content -->
                                </div><!-- /.box -->
                            </div><!-- /.overlay -->
                        </div><!-- /.img-box -->
                        <a href="#"><h3>Transport & Avation</h3></a>
                        <div class="line"></div><!-- /.line -->
                    </div><!-- /.single-project -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-project">
                        <div class="img-box">
                            <img src="img/project-3.jpg" alt="Awesome Image"/>
                            <div class="overlay">
                                <div class="box">
                                    <div class="content"><a href="#">View Details</a></div><!-- /.content -->
                                </div><!-- /.box -->
                            </div><!-- /.overlay -->
                        </div><!-- /.img-box -->
                        <a href="#"><h3>Nature & Solar</h3></a>
                        <div class="line"></div><!-- /.line -->
                    </div><!-- /.single-project -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-project">
                        <div class="img-box">
                            <img src="img/project-4.jpg" alt="Awesome Image"/>
                            <div class="overlay">
                                <div class="box">
                                    <div class="content"><a href="#">View Details</a></div><!-- /.content -->
                                </div><!-- /.box -->
                            </div><!-- /.overlay -->
                        </div><!-- /.img-box -->
                        <a href="#"><h3>Consumer Products</h3></a>
                        <div class="line"></div><!-- /.line -->
                    </div><!-- /.single-project -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.project-area -->

    <section class="ceo-message-area">
        <div class="thm-container">
            <div class="row">
                <div class="col-lg-5 col-md-12 ceo-img">
                    <img src="img/ceo-1.png" alt="Awesome Image"/>
                </div><!-- /.col-lg-5 -->
                <div class="col-lg-7 col-md-12">
                    <div class="ceo-message-content">
                        <h3>Our CEO Message</h3>
                        <p class="highlighted">Lorem Ipsum is  simply  text of the stry stext of the stry simply dummy text of the printing </p><!-- /.highlighted -->
                        <p>Ipsum is simply text of the stry simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply text of the. Lorem Ipsum is  simply  text of the stry simply dummy text of the printing and text of the stry simply dummy text of the printing and typesetting industry Ipsum is simply text of the. Lorem Ipsum is  simply  text of the stry simply dummy text ummy text of the printing and typesetting iummy text of the printing and typesetting.</p>
                        <img class="sign-img" src="img/sign-ceo.png" alt="Awesome Image"/>
                    </div><!-- /.ceo-message-content -->
                </div><!-- /.col-lg-7 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.ceo-message-area -->

    <section class="call-to-action">
        <div class="thm-container">
            <h2>No matter where you want <br /> your business to go ...</h2>
            <p>Ranbron solutions can help you get there.</p>
            <a href="#" class="thm-btn">Contact us</a>
        </div><!-- /.thm-container -->
    </section><!-- /.call-to-action -->

    <section class="blog-area sec-pad ">
        <div class="thm-container">
            <div class="title">
                <h3>Latest News</h3>
            </div><!-- /.title -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog-post">
                        <div class="img-box">
                            <img src="img/blog-1.jpg" alt="Awesome Image"/>
                            <div class="date-box">26 Aug. 2017</div><!-- /.date-box -->
                        </div><!-- /.img-box -->
                        <a href="#"><h3>Market growth is depends on country economy.</h3></a>
                        <p>Fed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div><!-- /.single-blog-post -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog-post">
                        <div class="img-box">
                            <img src="img/blog-2.jpg" alt="Awesome Image"/>
                            <div class="date-box">26 Aug. 2017</div><!-- /.date-box -->
                        </div><!-- /.img-box -->
                        <a href="#"><h3>Market growth is depends on country economy.</h3></a>
                        <p>Fed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div><!-- /.single-blog-post -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="blog-post-list">
                        <div class="single-post-list">
                            <a href="#"><h3>Market growth is depends on country economy.</h3></a>
                            <span>Aug 26 2017</span>
                        </div><!-- /.single-post-list -->
                        <div class="single-post-list">
                            <a href="#"><h3>Market growth is depends on country economy.</h3></a>
                            <span>Aug 26 2017</span>
                        </div><!-- /.single-post-list -->
                        <div class="single-post-list">
                            <a href="#"><h3>Market growth is depends on country economy.</h3></a>
                            <span>Aug 26 2017</span>
                        </div><!-- /.single-post-list -->
                    </div><!-- /.blog-post-list -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.blog-area -->        

    <section class="brand-carousel-area mb0">
        <div class="thm-container">
            <div class="brand-carousel owl-carousel owl-theme">
                <div class="item">
                    <img src="img/brand-1.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="img/brand-2.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="img/brand-3.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="img/brand-4.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
                <div class="item">
                    <img src="img/brand-5.jpg" alt="Awesome Image"/>
                </div><!-- /.item -->
            </div><!-- /.brand-carousel -->
        </div><!-- /.thm-container -->
    </section><!-- /.brand-carousel-area -->

    <footer class="footer">
    	<div class="thm-container">
    		<div class="row">
    			<div class="col-md-3">
    				<div class="about-widget footer-widget">
    					<a href="#" class="footer-logo"><img src="img/footer-logo.png" alt="Awesome Image"/></a>
    					<p class="phone-number">(1800) 574 9687</p><!-- /.phone-number -->
    					<p class="address">542, 8 no. Street, New Youk, MAC 5245 <br />Ranbron@contact.gmail.com</p><!-- /.address -->
    				</div><!-- /.about-widget footer-widget -->
    			</div><!-- /.col-md-3 -->
    			<div class="col-md-2">
    				<div class="footer-widget links-widget">
    					<div class="title">
    						<h3>Useful Links</h3>
    					</div><!-- /.title -->
    					<ul class="link-list">
    						<li><a href="#">Home</a></li>
    						<li><a href="#">About Us</a></li>
    						<li><a href="#">Request Call Back</a></li>
    						<li><a href="#">Testimonials</a></li>
    						<li><a href="#">Contact Us</a></li>
    					</ul><!-- /.link-list -->
    				</div><!-- /.footer-widget -->
    			</div><!-- /.col-md-2 -->
    			<div class="col-md-3">
    				<div class="footer-widget links-widget service-widget">
    					<div class="title">
    						<h3>Services</h3>
    					</div><!-- /.title -->
    					<ul class="link-list">
    						<li><a href="#">Financial Services</a></li>
    						<li><a href="#">Business Development</a></li>
    						<li><a href="#">Taxes & Effieciency</a></li>
    						<li><a href="#">Strategy Planning</a></li>
    						<li><a href="#">Customer Insight</a></li>
    					</ul><!-- /.link-list -->
    				</div><!-- /.footer-widget -->
    			</div><!-- /.col-md-3 -->
    			<div class="col-md-4">
    				<div class="footer-widget subscribe-widget">
    					<div class="title">
    						<h3>Newsletter</h3>
    					</div><!-- /.title -->
    					<p>Get latest updates and offers.</p>
    					<form action="#">
    						<input type="text" placeholder="Enter your email address"/>
    						<button type="submit"><i class="fa fa-paper-plane"></i></button>
    					</form>
    					<div class="social">
    						<a href="#" class="fa fa-facebook"></a>
    						<a href="#" class="fa fa-linkedin"></a>
    						<a href="#" class="fa fa-twitter"></a>
    						<a href="#" class="fa fa-google-plus"></a>
    					</div><!-- /.social -->
    				</div><!-- /.footer-widget subscribe-widget -->
    			</div><!-- /.col-md-4 -->
    		</div><!-- /.row -->
    	</div><!-- /.thm-container -->
    </footer><!-- /.footer -->
    <section class="footer-bottom text-center">
    	<div class="thm-container">
    		<p>&copy; Copyright  Ranbron Consulting Firm 2018 . All right reserved.</p>
    	</div><!-- /.thm-container -->
    </section><!-- /.footer-bottom -->

</div><!-- /#page-wrapper -->

<!--Scroll to top-->
<!-- <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div> -->

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <h3>Search</h3>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
            </span>
        </div>
    </div>
</div>


<script src="assets/jquery.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="assets/gmaps.js"></script>
<!-- google map helper -->  
<script src="assets/map-helper.js"></script>
<script src="assets/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="assets/owl.carousel-2/owl.carousel.min.js"></script>
<script src="assets/isotope.js"></script>
<script src="assets/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
<script src="assets/waypoints.min.js"></script>
<script src="assets/jquery.counterup.min.js"></script>
<script src="assets/wow.min.js"></script>
<script src="js/custom.js"></script>

    
</body>
</html>