{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title mt-5 d-flex justify-content-between">
                        <h4>Manage Packages</h4>
                        <button class="btn bg-color-scheme fw-bold" data-bs-toggle="modal"
                                data-bs-target="#add-package"><i class="fal fa-plus"></i> Add
                        </button>
                    </div><!-- /.sec-title -->
                    <div>
                        <table id="all-packages" class="table table-striped table-bordered mt-3" style="width:100%">
                            <thead class="bg-color-scheme">
                            <tr class="fw-bolder">
                                <th>Sender Name</th>
                                <th>Phone No</th>
                                <th>Invoice Number</th>
                                <th>Date Booked</th>
                                <th>Status</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            {% for pack in packages %}

                                <tr class='clickable-row' data-href="{% url 'package' id=pack.id %}">
                                    <td>{{ pack.name }}</td>
                                    <td>{{ pack.phonenumber }}</td>
                                    <td>{{ pack.invoice_number }}</td>
                                    <td>{{ pack.created | naturalday }}</td>
                                    <td>{{ pack.status }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->


    </section><!-- /.you buy - we ship-section -->
    <hr>
    <div class="modal fade" id="add-package" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" style="color: black!important;">Add a package</h5>
                    <button id="close-modal" type="button" class="btn-close" data-mdb-ripple-init
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row text-black">
                        <div class="col-md-12 mb-3">
                            <input type="text" id="sender-name"
                                   class="form-control" placeholder="Sender's name"/>
                        </div>
                    </div>
                    <div class="row text-black">
                        <div class="col-md-6 mb-3">
                            <input type="text" id="sender-phonenumber"
                                   class="form-control" placeholder="Sender's phonenumber"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" id="package-invoice"
                                   class="form-control" placeholder="Invoice number"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mb-3 ">
                            <select class="form-control text-black" aria-label="default-select" id="status-select">
                                <option class="text-black" selected>Select Status</option>
                                <option class="text-black" value="Item in US Warehouse">Item in US Warehouse</option>
                                <option class="text-black" value="Item in Transit to Kenya">Item in Transit to Kenya
                                </option>
                                <option class="text-black" value="Item in Kenyan Warehouse">Item in Kenyan Warehouse
                                </option>
                                <option class="text-black" value="Item Sent for Delivery (Kenya)">Item Sent for Delivery
                                    (Kenya)
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn bg-color-scheme fw-bold text-capitalize btn-block"
                            id="add-package-btn"> Add
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $("#add-package-btn").click(function () {
                let data = {
                    "name": $("#sender-name").val(),
                    "phonenumber": $("#sender-phonenumber").val(),
                    "invoice": $("#package-invoice").val(),
                    "status": $("#status-select").find(":selected").text(),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                }
                $.ajax({
                    url: "{% url 'add-package' %}",
                    type: "POST",
                    data: data,
                    cache: false,
                    success: function (resp) {
                        console.log(resp);
                        var myModalEl = document.getElementById('add-package');
                        var modal = bootstrap.Modal.getInstance(myModalEl)
                        modal.hide();
                        location.reload();
                    }
                });

            });
        });
    </script>
    <script>
        new DataTable('#all-packages');
        jQuery(document).ready($ => {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}