{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title mt-5 mb-5 d-flex justify-content-between">
                        <h4>Package</h4>
                        <button class="btn bg-color-scheme fw-bold" data-bs-toggle="modal"
                                data-bs-target="#edit-package"><i class="fal fa-pencil-alt"></i> Edit
                        </button>
                    </div>

                    <div class="row">
                        <table class="table table-borderless w-auto">
                            <tbody>
                            <tr>
                                <th>Sender's Name</th>
                                <td>{{ package.name }}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{ package.phonenumber }}</td>
                            </tr>
                            <tr>
                                <th>Invoice</th>
                                <td>{{ package.invoice_number }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ package.status }}</td>
                            </tr>
                            <tr>
                                <th>Date Created</th>
                                <td>{{ package.created }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.thm-container -->
        </div><!-- /.thm-container -->

    </section><!-- /.you buy - we ship-section -->
    <hr>
    <div class="modal fade" id="edit-package" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" style="color: black!important;">Edit package</h5>
                    <button id="close-modal" type="button" class="btn-close" data-mdb-ripple-init
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row text-black">
                        <div class="col-md-12 mb-3">
                            <label class="text-muted mb-1">Sender's Name</label>
                            <input type="text" id="sender-name"
                                   class="form-control" placeholder="Sender's name" value="{{ package.name }}"/>
                        </div>
                    </div>
                    <div class="row text-black">
                        <div class="col-md-6 mb-3">
                            <label class="text-muted mb-1">Phone</label>
                            <input type="text" id="sender-phonenumber"
                                   class="form-control" placeholder="Sender's phonenumber"
                                   value="{{ package.phonenumber }}"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="text-muted mb-1">Invoice Number</label>
                            <input type="text" id="package-invoice"
                                   class="form-control" placeholder="Invoice number"
                                   value="{{ package.invoice_number }}"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 mb-3 ">
                            <label class="text-muted mb-1">Select Status</label>
                            <select class="form-control text-black" aria-label="default-select" id="status-select">
                                <option class="text-black" {% if package.status == 'Item in US Warehouse' %}
                                        selected{% endif %} value="Item in US Warehouse">Item in US Warehouse
                                </option>
                                <option class="text-black" {% if package.status == 'Item in Transit to Kenya' %}
                                        selected{% endif %} value="Item in Transit to Kenya">Item in Transit to Kenya
                                </option>
                                <option class="text-black" {% if package.status == 'Item in Kenyan Warehouse' %}
                                        selected{% endif %} value="Item in Kenyan Warehouse">Item in Kenyan Warehouse
                                </option>
                                <option class="text-black" {% if package.status == 'Item Sent for Delivery (Kenya)' %}
                                        selected{% endif %} value="Item Sent for Delivery (Kenya)">Item Sent for
                                    Delivery
                                    (Kenya)
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn bg-color-scheme fw-bold text-capitalize btn-block"
                            id="add-package-btn"> Add
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
{% endblock %}