{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="sea-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3 class="py-4">Sea Shipping</h3>
                <h4 class="fw-bold">Shipments Every Month from Seattle</h4>
            </div><!-- /.title -->

        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row ">
                <div class="col-md-12 content-box text-black flags">
                    <div class="sec-title">
                        <h2>Sea Shipping</h2>
                    </div><!-- /.sec-title -->
                    <p class="small-margin thick"><span class="big">.</span> Sea shipping from Seattle is done <span
                            class="">once a month.</span></p>
                    <p class="small-margin thick"><span class="big">.</span> Charges are calculated <span class="">based on the size of the item (volume)</span>
                        irrespective of the weight.</p>
                    <p class="small-margin thick"><span class="big">.</span> In general the formula to calculate rates
                        is as follows:<br>
                        <span class="" style="font-weight: bolder!important;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;((height x width x length) / 1728) x $30 = Charges</span>
                    </p>
                    <p class="small-margin thick"><span class="big">.</span> Use our <span class="bg-color-scheme"><a
                            href="{% url 'pricing' %}#volumetric-weight">Cost Calculator</a> </span> to know the
                        shipping price.
                    </p>
                    <p class="small-margin thick"><span class="big">.</span><span class="">Packaging service is available</span>,
                        call for details.</p>


                    <p class="small-margin thick"><span class="big">.</span> Absolutely no extra charges when packages
                        arrive in our Nairobi warehouse.
                    <p class="small-margin thick"><span class="big">.</span><span
                            class=""> Special Rates</span> for <span class="">Bulk Shipping</span>
                        and those <span class="">moving back to Kenya permanently</span>.
                    </p>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h3>Costs for Various U-Haul Box Sizes</h3>
                    </div><!-- /.sec-title -->
                    <table class="table table-bordered table-striped">
                        <thead class="bg-color-scheme">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Cost</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        <tr>
                            <td>Minimum Charge</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <td>Medium Box (18x18x16)</td>
                            <td>$110</td>
                        </tr>
                        <tr>
                            <td>Large box (18x18x24)</td>
                            <td>$130</td>
                        </tr>
                        <tr>
                            <td>Large Box (18x18x28)</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <td>Large Box (18x24x24)</td>
                            <td>$180</td>
                        </tr>
                        <tr>
                            <td>Extra Large Box (24x24x20)</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <td>X-Large Box (24x24x27)</td>
                            <td>$270</td>
                        </tr>
                        <tr>
                            <td>Wardrobe box (21x 24x34)</td>
                            <td>$300</td>
                        </tr>
                        <tr>
                            <td>Wardrobe Box (21x18x46)</td>
                            <td>$300</td>
                        </tr>
                        <tr>
                            <td>Wardrobe box (24x24x34)</td>
                            <td>$330</td>
                        </tr>
                        <tr>
                            <td>Grand Wardrobe Box (21x24x48)</td>
                            <td>$390</td>
                        </tr>
                        <tr>
                            <td>Grand Wardrobe Box (24x24x48)</td>
                            <td>$440</td>
                        </tr>
                        </tbody>
                    </table>

                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h3>Costs for Suitcases</h3>
                    </div><!-- /.sec-title -->
                    <table class="table table-bordered table-striped">
                        <thead class="bg-color-scheme">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Cost</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        <tr>
                            <td>Medium Suitcase</td>
                            <td>$120</td>
                        </tr>
                        <tr>
                            <td>Large Suitcase</td>
                            <td>$170</td>
                        </tr>
                        </tbody>
                    </table>

                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->
        <div class="thm-container">
            <div class="row">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h3>Costs for Barrels</h3>
                    </div><!-- /.sec-title -->
                    <table class="table table-bordered table-striped">
                        <thead class="bg-color-scheme">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Cost</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        <tr>
                            <td>Small (35 Gallons)</td>
                            <td>$160</td>
                        </tr>
                        <tr>
                            <td>Medium (45 Gallons)</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <td>Large (50 Gallons)</td>
                            <td>$300</td>
                        </tr>
                        <tr>
                            <td>X-Large (55 Gallons)</td>
                            <td>$320</td>
                        </tr>
                        <tr>
                            <td>Jumbo (72 Gallons)</td>
                            <td>$350</td>
                        </tr>
                        </tbody>
                    </table>

                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->

    </section><!-- /.you buy - we ship-section -->
    <hr>
{% endblock %}
{% block scripts %}
    <script>
        $(window).on('load', function () {
            var myModal = new bootstrap.Modal(document.getElementById("pop-up"), {});
            window.setTimeout(document.onreadystatechange = function () {
                myModal.show();
            }, 2000);
        });
    </script>
{% endblock %}