{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="track-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3 class="py-4">Track Package</h3>
                <p class="fw-bold">Enter your tracking number below</p>
                <div class="row my-3">
                    <div class="col-md-6">
                        <form class="input-group">
                            <input class="form-control" type="text" name="invoice-number" id="invoice-number"
                                   placeholder="Enter invoice number">
                            <button class="btn bg-color-scheme text-capitalize fw-bold" type="button"
                                    id="button-addon2"> Track
                            </button>
                        </form>
                    </div>
                </div>
            </div><!-- /.title -->
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row flags">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h2>Track Package</h2>
                    </div><!-- /.sec-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->


    </section><!-- /.you buy - we ship-section -->
    <hr>
{% endblock %}