{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="buy-ship-banner inner-banner">
        <div class="thm-container">
            <div class="title">
                <h3 class="py-4">What People Ship</h3>
                <h4 class="fw-bold">These are what others shipped</h4>
            </div><!-- /.title -->
            
        </div><!-- /.thm-container -->
    </section><!-- /.inner-banner -->

    <section class="about-section about-page">
        <div class="thm-container">
            <div class="row flags">
                <div class="col-md-12 content-box">
                    <div class="sec-title">
                        <h2>What People Ship</h2>
                    </div><!-- /.sec-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div><!-- /.thm-container -->


    </section><!-- /.you buy - we ship-section -->
    <hr>
{% endblock %}